*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.navs .navs-header {
  margin-right: 70px;
}

.navs .navs-header a {
  text-decoration: none;
  color: white;
  padding-left: 20px;
}

#content-main .content-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #dadbdb;
}

#content-main .content-wrapper .btn {
  background-color: orange;
  width: 150px;
}

#content-main .content-wrapper h2 {
  font-weight: bold;
}

#content-main .content-wrapper a {
  color: white;
}

#cards .cards-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e9ecef;
}

#cards .cards-wrapper .btn {
  background-color: orange;
  width: 150px;
}

#cards .cards-wrapper .card-title {
  font-weight: bold;
}

#cards .cards-wrapper h2 {
  font-weight: bold;
}

.info {
  padding-top: 50px;
  padding-bottom: 50px;
}

.info h2,
.info h5,
.info p {
  color: white;
}

.foot-info {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
